.root {
    -fx-base: rgba(30, 31, 32, 255); // dark
}

.icon-arrow {
    -fx-stroke: #505050;
    -fx-fill: #505050;
}

.icon-plus {
    -fx-stroke: #505050;
    -fx-fill: #505050;
}

.icon {
    -fx-stroke: #505050;
    -fx-fill: #707070;
}

.button{
    -fx-background-color: #505050;
    -fx-text-fill: #909090;
}
