.root {
    -fx-base: rgba(30, 31, 32, 255); // dark
}

.icon-arrow {
    -fx-stroke: #6838ff;
    -fx-fill: #6838ff;
}

.icon-plus {
    -fx-fill: #f34e4a;
}

.button{
    -fx-background-color: #4ebec2;
    -fx-text-fill: #f2f2f2;
}

.choice-box .menu-item:focused { -fx-background-color: #4ebec2; }
